<!DOCTYPE html>
<html>
    <head>
        <title>My Partfolio</title>
        <style>
            #img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                
            }
            body {
                background-color: 	 #ccffee;
            }
            header, #title{
                text-align: center;
            }
            #photo {
                width: 15px;
                height: 15px;
                border-radius: 50%;

            }
            #link {
                text-decoration: none;
                color: #000;
            }
        </style>
    </head>
    <body>
        <header>
            <img src="/static/my_photo.jpg" alt="My photo is here" id="img">
            <h2>Jahongir Sidiqov</h2>
            <p>
                <b>
                   LinkedIn: 
                </b>
                <a href="https://www.linkedin.com/in/jahongir-sidiqov-139052216/" target="_blank">https://www.linkedin.com/in/jahongir-sidiqov-139052216/</a>
                <br>
                <b>Github:</b>
                <a href="https://github.com/JahongirSidiqov">https://github.com/JahongirSidiqov</a>
                <br>
                <b>Email:</b> jahongirsidiqov001@gmail.com
            </p>
            <hr>
        </header>
        <section>
            <div>
                <h3 id="title">Experience</h3>
                <p>no expeirence</p>
            </div>
            <hr>
        </section>
        <section>
            <div>
                <h3 id="title">Educetion</h3>
                <p>
                    <h4>BS in Economy</h4>
                    <img id="photo"src="/static/Tuit.png"  alt="TUIT">
                    <a id="link" href="https://tuit.uz/" target="_blank"><b>Tashkent University of Information Technologies named after Muhammad al-Khwarizmi </b></a>
                    
                    <br>
                    Sep 2022 - May 2026<br>
                    Currenty I am first year student
                </p>
                <p>
                    <h4>Hight school</h4>
                    <img id="photo" src="/static/tktial.jpg" alt="TKTIAL">
                    <b>Ademic Lyceum at Tashkent Chemical-Technological Institute</b>
                    <br>
                    Sep 2020 - May 2022
                    <br>
                    Gradueted with Honor Diploma
                </p>
            </div>
            <hr>
        </section>
        <section>
            <h3 id="title">Skills</h3>
            <table>
                <thead>
                    <tr>
                        <th>
                            Technical skills
                        </th>
                        <th>
                            Personal skills
                        </th>
                        <th>
                            Lenguage skills
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>HTML5, CSS3</li>
                                <li>JavaScript</li>
                                <li>C++</li>
                                <li>Python (Django)</li>
                                <li>SQL</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Patien</li>
                                <li>Respondible</li>
                                <li>Flexible</li>
                                <li>Consistent</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>English</li>
                                <li>Russian</li>
                                <li>Uzbek</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </body>
</html>